In [35]:
import pandas as pd

df = pd.read_csv("olympics.csv", index_col = 0, skiprows = 1) # to read a particular csv file and to delete the row index and to skip how many rows

print(df.index) #shows only row index 
print(df.columns) #shows only columns

df

Index(['Afghanistan (AFG)', 'Algeria (ALG)', 'Argentina (ARG)',
       'Armenia (ARM)', 'Australasia (ANZ) [ANZ]', 'Australia (AUS) [AUS] [Z]',
       'Austria (AUT)', 'Azerbaijan (AZE)', 'Bahamas (BAH)', 'Bahrain (BRN)',
       ...
       'Uzbekistan (UZB)', 'Venezuela (VEN)', 'Vietnam (VIE)',
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]',
       'Independent Olympic Participants (IOP) [IOP]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Mixed team (ZZX) [ZZX]', 'Totals'],
      dtype='object', length=147)
Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [36]:
for column in df.columns:
    if column[0:2] == "01":
        df.rename(columns={column:"Gold"+column[2:]}, inplace = True)
    if column[:2] == "02":
        df.rename(columns = {column:"Silver"+column[2:]}, inplace = True)
    if column[:2] == "03":
        df.rename(columns = {column:"Bronze"+column[2:]}, inplace = True)
    if column[:1] == "№":
        df.rename(columns = {column:"#"+column[1:]}, inplace = True)
        
df

,# Summer,Gold !,Silver !,Bronze !,Total,# Winter,Gold !.1,Silver !.1,Bronze !.1,Total.1,# Games,Gold !.2,Silver !.2,Bronze !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [37]:
names = df.index.str.split("\s\(")
df.index = names.str[0]
df.index

Index(['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australasia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       ...
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands', 'Yugoslavia',
       'Independent Olympic Participants', 'Zambia', 'Zimbabwe', 'Mixed team',
       'Totals'],
      dtype='object', length=147)

In [38]:
df["Id"] = names.str[1].str[:3] #to add a row with remaining words
df.drop("Totals", axis = 0, inplace=True)

df

,# Summer,Gold !,Silver !,Bronze !,Total,# Winter,Gold !.1,Silver !.1,Bronze !.1,Total.1,# Games,Gold !.2,Silver !.2,Bronze !.2,Combined total,Id
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

## Question 0

#### Return the row for Afghanistan

In [39]:
def answer_zero():
    return df.iloc[0]
    #return df.loc["Afghanistan"]
    #return df.values[0]

answer_zero()

# Summer           13
Gold !              0
Silver !            0
Bronze !            2
Total               2
# Winter            0
Gold !.1            0
Silver !.1          0
Bronze !.1          0
Total.1             0
# Games            13
Gold !.2            0
Silver !.2          0
Bronze !.2          2
Combined total      2
Id                AFG
Name: Afghanistan, dtype: object

In [40]:
df.loc[['Afghanistan', 'United States']]

,# Summer,Gold !,Silver !,Bronze !,Total,# Winter,Gold !.1,Silver !.1,Bronze !.1,Total.1,# Games,Gold !.2,Silver !.2,Bronze !.2,Combined total,Id
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA

## Question 1

In [43]:
#max(list(df["Gold !"]))

df["Gold !"].max()

976

In [46]:
df[df["Gold !"] == df["Gold !"].max()]#.index[0]

,# Summer,Gold !,Silver !,Bronze !,Total,# Winter,Gold !.1,Silver !.1,Bronze !.1,Total.1,# Games,Gold !.2,Silver !.2,Bronze !.2,Combined total,Id
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA